/* UTILITIES */
body {
    font-family: sans-serif;
}

.b_container {
    max-width: 300px;
    margin: 0 auto;
    transform: rotate(70deg);
}

i {
    font-size: 30px;
}

.notes_1 {
    position: absolute;
    top:40%;
    left:20%;
    transform: rotate(-70deg);
    opacity: 0;
}

.notes_2 {
    position: absolute;
    top:30%;
    left:15%;
    transform: rotate(-70deg);
    opacity: 0;
}

.b_container:hover {
    animation: rotation 0.4s infinite linear;
}

.b_container:hover .notes_1 {
    animation: round 0.8s infinite linear;
    opacity: 1;
}

.b_container:hover .notes_2 {
    animation: round 0.8s infinite linear;
    opacity: 1;
}

@keyframes round {
    0% {
        transform: rotate(-70deg)
    }

    25% {
        transform: rotate(-80deg)
    }

    50% {
        transform: rotate(-70deg)
    }

    75% {
        transform: rotate(-60deg)
    }

    100% {transform: translate(-70deg)
    }
}

@keyframes rotation {     
    0% {
        transform: rotate(70deg)
    }

    50% {
        transform: rotate(74deg)
    }

    100% {
        transform: rotate(70deg)
    }
    
}

h1 {
    text-align: center;
    margin: 50px;
    font-size: 60px;
    font-style: italic;
    color: #9c1a1a;
    text-shadow: 2px -1px 5px black
}

.box {
    height: 7.5px;
    border: 1px solid black;
}

.bordy_none {
    border-top: none;
    border-bottom: none;
}

.borderl_none {
    border-left: none;
}

.borderb_none {
    border-bottom: none;
}

.relative {
    position: relative;
}

/* COLORS */
.black {
    background-color: black;
}

.key_gray {
    background-color: #b7bec8;
}

.gold {
    background-color: #f6dd78
}

.brown {
    background-color: #76594b;
}

.cassa_gray {
    background-color: #a6aab3;
}

.ponte {
    background-color: #717984; 
}

.ponte_dark {
    background-color: #3b3c40; 
}

/* DISTANCES */
.mb_40 {
    margin-bottom: 40px;
}

.mt_40 {
    margin-top: 40px;
}

img {
    width: 35px;
    height: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(270deg);
}