/* GENERAL STYLES */
* {
    font-family: sans-serif;
}

body {
    font-size: 14px;
}

/* UTILITIES */
.box {
    border: 1px solid white;
    padding: 10px 0;
    text-align: center;
}

.h_38 {
    height: 38.4px;
}

/* DISTANCES */
.mb_20 {
    margin-bottom: 20px;
}
.my_10 {
    margin: 10px auto;
}

.p_10 {
    padding: 10px;
}

/* COLORS */
.dodgerblue {
    background-color: dodgerblue;
    color: white;
}

.lime {
    background-color: lime;
    color: black;
}
